<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h3>An error has occured</h3>
    <a href="/viewusers">To control page</a>
    <br>
    <a href="/">To login</a>
</body>
</html>