<!DOCTYPE html>
<html>
    <head>
        <title>New Student</title>
        <link rel="stylesheet" href="stylesheets/add-user.css" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="/images/favicon.ico"
        />
    </head>
    <body>
        <div id="header-container"></div>
        <script>
            fetch("header.html")
                .then((response) => response.text())
                .then((html) => {
                    document.getElementById("header-container").innerHTML =
                        html;
                });
        </script>
        <h3 id="add-user-title">Add New Student</h3>
        <div id="messageBox" class="message-box"></div>
        <div class="centered-container">
            <form id="newUserForm">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required />
                <br />
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required />
                <br />
                <button type="button" onclick="addUser()">Add User</button>
            </form>
        </div>

        <script>
            function addUser() {
                var formData = {
                    firstName: document
                        .getElementById("firstName")
                        .value.trim(),
                    lastName: document.getElementById("lastName").value.trim(),
                };

                fetch("/addnewuser", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        var messageBox = document.getElementById("messageBox");
                        messageBox.innerHTML = data.message;

                        if (data.success) {
                            messageBox.classList.add("success-message");
                            document.getElementById("newUserForm").reset();
                        } else {
                            messageBox.classList.add("error-message");
                        }

                        setTimeout(() => {
                            messageBox.innerHTML = "";
                            messageBox.classList.remove(
                                "success-message",
                                "error-message"
                            );
                        }, 5000);
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            }
        </script>
    </body>
</html>
