<!DOCTYPE html>
<html>
    <head>
        <title>Attendance</title>
        <link rel="stylesheet" href="stylesheets/attendance-page.css" />
    </head>
    <body>
        <header>
            <img src="images/Logo horizontal.png" alt="Logo image" />
        </header>

        <p id="class-name">Welcome to <%= classs %></p>

        <main>
            <form
                class="square-form"
                id="nameForm"
                onsubmit="validateForm(); return false;"
            >
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required />
                <br />
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required />
                <br />
                <button type="submit">Login</button>
                <br />
                <p id="errorMessage" style="color: red; display: none">
                    Incorrect Information
                </p>
            </form>
        </main>
        <br />
        <button
            id="change-class-button"
            onclick="window.location.href = '/attendance-settings'"
        >
            Change Class
        </button>
        <div class="overlay" id="overlay" onclick="closePopup()"></div>

        <div class="popup-box" id="popup">
            <h2 id="greetingMessage">Pop-up Content</h2>
            <p id="visitsMessage">This is a pop-up box.</p>
            <button class="close-button" onclick="closePopup()">Close</button>
        </div>

        <script>
            function openPopup(firstName, lastName, message) {
                document.getElementById(
                    "greetingMessage"
                ).textContent = `Welcome ${firstName} ${lastName}!`;
                document.getElementById("visitsMessage").textContent = message;

                document.getElementById("overlay").style.display = "block";
                document.getElementById("popup").style.display = "block";
                clearInputAndMessage();
                document.addEventListener("keydown", function (event) {
                    if (event.key === "Escape") {
                        closePopup();
                    }
                });
            }

            function closePopup() {
                document.getElementById("overlay").style.display = "none";
                document.getElementById("popup").style.display = "none";
            }
            function validateForm() {
                const firstName = document
                    .getElementById("firstName")
                    .value.trim();
                const lastName = document
                    .getElementById("lastName")
                    .value.trim();

                login(firstName, lastName);
            }

            function login(firstName, lastName) {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/attendancePage/updatevisit", true);
                xhr.setRequestHeader(
                    "Content-Type",
                    "application/x-www-form-urlencoded"
                );
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            clearInputAndMessage();
                            openPopup(
                                firstName,
                                lastName,
                                "<%= open %>" === "true"
                                    ? `You have ${
                                          16 - response.visits
                                      } classes until your next voucher`
                                    : "Enjoy The Class"
                            );
                        } else {
                            document.getElementById(
                                "errorMessage"
                            ).style.display = "block";
                            document.getElementById(
                                "errorMessage"
                            ).textContent = xhr.responseText;
                        }
                    }
                };
                const params = `firstName=${firstName}&lastName=${lastName}&classIn=<%= classs %>&closed=<%= !open %>`;
                xhr.send(params);
            }

            function clearInputAndMessage() {
                document.getElementById("firstName").value = "";
                document.getElementById("lastName").value = "";
                document.getElementById("errorMessage").style.display = "none";
            }
        </script>
    </body>
</html>
