/* Updated CSS */

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 18px;    
    height: 100vh;
    margin: 0;
    padding: 0;

}

h1 {
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f7f7f7;
}

td {
    background-color: #fff;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.add-class {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4x;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.add-class label {
    font-weight: bold;
}

#noMargin {
    margin: 8px;
}

input, select {
    width: 60%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.cancel-button {
    background-color: red;
}
.cancel-button:hover {
    background-color: #dd0000;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #dd0000;
}