body {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}

select, input {
    display: inline-block; /* Display inputs inline */
    width: calc(33.33% - 10px); /* Adjust width as needed */
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#login-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}
